<h2 id="title">Ember Gauge Examples</h2>

{{outlet}}
{{progress-gauge
    name='sample1'
    duration=30000
    speedyDuration=500
    complete=finished
}}
{{progress-gauge
    name='sample2'
    icon=jsIcon
    innerColor='#00A34F'
    outerColor='#4AB547'
    duration=20000
    speedyDuration=500
    complete=finished
}}
{{percentage-gauge
  name='sample3'
  innerColor='#8DC421'
  outerColor='#BAD42F'
  percentage=fiftyPercent
}}
{{percentage-gauge
  name='sample4'
  icon=jsIcon
  innerColor='#FDF101'
  outerColor='#FFB216'
  duration=15000
  percentage=75
}}
